.header {
  position: absolute;
  top: 0;
  z-index: 23;
  width: 90%;
  left: 50%;
}

.nav {
  margin-top: 2%;
  border-radius: 50px 50px 50px 0px;
  background-color: #fff;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
  width: 100%;
  position: relative;
  left: -50%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link {
  display: flex;
  margin: 1rem;

  li {
    margin: 0 1rem;
    font-size: 0.8rem;
  }
}
